<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn HTML-webdev</title>
    <link rel="stylesheet" href="../stylesheets/htmllearn.css">
</head>
<body>
    <div class="header">
        <div class="header-logo">we<b>bd</b>ev</div>
        <div class="header-list">
            <ul>
                <a href="">
                    <li>Home</li>
                </a>
                <a href="">
                    <li>Learn</li>
                </a>
                <a href="">
                    <li>Courses</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="title">
        <h1 class="titlemain">HTML INTRODUCTION</h1>
        <h3 class="heading">What is HTML??</h3>
        <ul class="p">
            <li>HTML is the standard markup language for creating Web pages.</li>
            <li>HTML describes the structure of a Web page</li>
            <li>HTML elements tell the browser how to display the content</li>
        </ul>
    </div>
    <div class="lesson-title">
        <div class="idi">
        <h3 class="heading">A Simple HTML Document</h3>
        <div class="bg">
            <p class="eg">Example:</p>
            <img src="../images/l1.PNG" alt=""><br>
            <div class="try">
            <a href="#"><button>Try</button></a>
            </div>
        </div>
        </div>
        <div class="idi">
         <h3 class="heading">Head Tag</h3>
         <div class="bg">
             <p class="eg">Example:</p>
             <p>HTML tags are element names surrounded by angle brackets:</p>
             <img src="../images/heading.PNG" alt=""><br>
             <div class="try">
                 <a href="#"><button>Try</button></a>
             </div>
             
         </div>
         <ul class="p">
             <li>HTML tags normally come in pairs.</li>
             <li>The first tag in a pair is the start tag, the second tag is the end tag</li>
             <li> The end tag is written like the start tag, but with a forward slash inserted before the tag name</li>
         </ul>
         </div>
    </div>
    <div class="test">
        <b style="font-size: 30px;"> TEST 1:</b>
        <form action="" name="p">
            <p class="z">Q1) What is the full-form of HTML? </p>
            <input class="option" type="button"  value="Hyper Text Mark Language" onclick="falsee()">
            <input class="option" type="button"  value="Hyper Text Markup Language" onclick="truee()">
            <input class="option" type="button"  value="Hyper Trans Mark Language" onclick="falsee()">
            <input class="option" type="button"  value="Helio Text Mark Language" onclick="falsee()"><br>
            <p class="z">Q2) The title of a file is written in which tag?</p>
             <input class="option" type="button"  value="head" onclick="falsee()">
             <input class="option" type="button"  value="title" onclick="truee()">
             <input class="option" type="button"  value="p" onclick="falsee()">
             <input class="option" type="button"  value="h1" onclick="falsee()"><br><br>
             <input type="button" name="result" value="submit" onclick="checkk()" class="cc">
        </form>
    </div>
    <script src="../js/sss.js"> </script>
</body>
</html>