<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webdev-learn</title>
    <link rel="stylesheet" href="../stylesheets/lesson-style.css">
</head>

<body>
    <div class="header">
        <div class="header-logo">we<b>bd</b>ev</div>
        <div class="header-list">
            <ul>
                <a href="">
                    <li>Home</li>
                </a>
                <a href="">
                    <li>Learn</li>
                </a>
                <a href="">
                    <li>Courses</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="y">
        <img src="../images/kkk.jpg" alt="">
    </div>
    <div class="steps">
        <div class="xx">
            <p class="ques">WHERE TO START IF I KNOW NOTHING</p>
            <p class="ans">Now, this is when it’s perfectly valid to read some books or do some tutorials. Go get a
                baseline
                understanding of HTML and CSS. Come back here when you’re done and start working on a project.

                If you prefer interactive tutorials, Codecademy’s Learn HTML and Learn CSS offerings are pretty good.
                (The
                free lessons are fine. No need to spring for the pro stuff.) If books are your jam, Head First HTML &
                CSS is
                a good way to go.</p>
        </div>
        <div class="xx">
            <p class="ques">HTML & CSS</p>
            <p class="ans">You can build the user interface for any of these projects with just knowledge of HTML and
                CSS</p>
        </div>
        <div class="xx">
            <p class="ques">FRONT-END JAVASCRIPT</p>
            <p class="ans">If you’ve learned front-end Javascript, you can now start adding some interactive elements.

                You can also save data, but it will live in the user’s browser. That means, every user of the browser
                will have the same data. </p>
        </div>
        <div class="xx">
            <p class="ques">REACT/REACT NATIVE</p>
            <p class="ans">Knowing React opens you up to mobile app development by way of React Native. This is a great
                time to try your hand at Fog of Explore.</p>
        </div>
        <div class="xx">
            <p class="ques">BACK-END</p>
            <p class="ans">A back-end lets you do computation on the server instead of in the user’s browser. Once
                you understand back-end development, you can tackle any projects and do it justice.</p>
        </div>
    </div>
    <section id="l">
    <div class="learntrack">
        <h3 class="section-title">LEARNING TRACKS</h3>
        <p class="section-desc">Select from available tracks below.</p>
    
    <div class="row">
        <div class="col">
            <p class="topic">HTML</p>
            <p class="desc">The language for building web pages</p>
            <a href="../layout/htmllearn.html"><button class="click">Learn</button></a>
        </div>
        <div class="col">
            <p class="topic">CSS</p>
            <p class="desc">The language for styling web pages</p>
            <a href=""><button class="click">Learn</button></a>
        </div>
        <div class="col">
            <p class="topic">JS</p>
            <p class="desc">The language for programming web pages</p>
            <a href=""><button class="click">Learn</button></a>
        </div>
    </div>
    </div>
    </section>
    <section id="footer">
        <p class="footer-logo">we<b>bd</b>ev</p>
        <p style="padding-top: 20px; font-weight: bold;">
            <\> by SK
        </p>
    </section>
</body>

</html>