
body {
    font-family: 'Montserrat',
        sans-serif;
}

li {
    list-style: none;
}

.header {
    color: gray;
    height: 70px;
    margin: 0 200px;
}

.header-logo {
    float: left;
    font-size: 46px;
    padding: 1% 2%;
    color: rgb(35, 104, 65);
}

.header-list li {
    float: right;
    padding: 3% 3%;
    font-size: 20px;
    color: gray;
}
.title{
    margin: 100px;
}
.titlemain{
    font-size: 3rem;
    color:rgb(35, 104, 65);
}
.heading{
    font-size: 2rem;
    color: gray;
}
.p li{
    list-style-type: disc ;
    font-size: 1.2rem;
}
.lesson-title{
    margin: 100px;
}
.bg{
    padding: 20px 50px;
    background-color: rgb(216,254,219); 
}
.eg{
    font-size: 1.5rem;
}
button{
    background-color: rgb(35, 104, 65);
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
}
.try{
    padding: 10px;
}
button:hover {
    background-color: rgb(27, 85, 52);
}
.idi{
    padding-top: 50px;
}
.test{
    margin: 100px;
}
.option{
    width: 50%;
    padding: 5px;
    margin: 5px;
    
}
.z{
    font-size: 1.3rem;
    margin-top: 30px;
}
.cc{
    background-color: rgb(35, 104, 65);
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
}
#footer {
    text-align: center;
    background-color: rgb(184, 184, 184);
    height: 200px;
    bottom: 0;
    width: 100%;
}

.footer-logo {
    font-size: 56px;
    padding: 1% 2%;
    color: rgb(35, 104, 65);
}
